/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.grid {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: auto;
}
.header .header__navigation {
  align-items: center;
  display: flex;
  width: 100%;
  height: 105px;
  justify-content: space-between;
}
.header .header__navigation .header__logo {
  margin-left: 15px;
}

.header__nav.header__nav-top {
  display: none;
}
.header__nav .nav__list {
  list-style: none;
  display: flex;
}
.header__nav .nav__items {
  font-size: 15px;
}
.header__nav .nav__items + .nav__items {
  margin-left: 45px;
}
.header__nav .nav__items.active a {
  color: #003C82;
}
.header__nav .nav__items.active a:after {
  opacity: 1;
  top: calc(100% + 2px);
  background-color: #003C82;
}
.header__nav a {
  color: #1B95D4;
  text-decoration: none;
  position: relative;
}
.header__nav a:hover:after {
  opacity: 1;
  top: calc(100% + 2px);
  background-color: #003C82;
}
.header__nav a:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top: calc(100% + 10px);
  left: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}

.page-top .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.page-top .header .nav-align {
  font-size: 30px;
  color: #14a0dc;
  margin-right: calc(40/750*100vw);
}
@media (min-width: 969px) {
  .page-top .header .nav-align {
    display: none;
  }
}

.banner {
  width: 100%;
  height: auto;
}
@media (min-width: 969px) {
  .banner .slide {
    width: 100%;
  }
}
.banner .slide .slide_image {
  position: relative;
}
.banner .slide .slide_image .slide-img {
  width: 100%;
}
.banner .slide .slide-top {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .header__nav {
  display: none;
}
@media (min-width: 969px) {
  .banner .header__nav.header__nav-center {
    display: block;
  }
}
.banner .header__nav.header__nav-center .nav__list {
  justify-content: center;
  margin-top: -46px;
}
.banner .header__nav.header__nav-center .nav__list a {
  color: #000;
}
.banner .header__nav.header__nav-center .nav__list a:hover {
  opacity: 0.7;
}
.banner .header__nav.header__nav-center .nav__list a:hover::after {
  opacity: 0;
}

.news {
  width: 100%;
  margin-top: calc(50/750*100vw);
  margin-bottom: calc(60/750*100vw);
  position: relative;
}
@media (min-width: 969px) {
  .news {
    margin-top: 75px;
    margin-bottom: 64px;
  }
}
.news .news__box {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}
.news .news__box .text-head {
  font-size: 30px;
  margin-bottom: 30px;
  color: #003C82;
  font-weight: 200;
}

section {
  width: 100%;
  display: inline-block;
}

.text-news {
  font-size: 14px;
  padding: 10px 0;
  border-top: solid thin #ccc;
}
.text-news.text-form {
  border-bottom: solid thin #ccc;
  margin-bottom: 15px;
}
.text-news .span-text {
  font-size: 12px;
  min-width: 110px;
  text-align: center;
  display: inline-block;
  padding: 1px 5px;
  background-color: #14A0DC;
  color: #fff;
  margin-right: 10px;
}
.text-news .numbe-span {
  margin-right: 25px;
}

.new_link {
  position: relative;
  float: right;
  font-size: 14px;
  color: #14A0DC;
}
.new_link::after {
  position: absolute;
  content: '';
  border: solid 5px transparent;
  border-left: solid 7px #009CE5;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.solution {
  width: 100%;
}
.solution .head-solution {
  margin-left: calc(15/750*100vw);
}
.solution .head-solution .text-head {
  font-size: 30px;
  margin-bottom: calc(6/750*100vw);
  color: #003C82;
}
.solution .head-solution .solution_text {
  font-size: 16px;
  letter-spacing: 2px;
}
.solution .solution__content {
  width: 100%;
  margin: calc(32/750*100vw) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.solution .solution__content img {
  width: 100%;
}
.solution .solution__content .solution__cont {
  width: 100%;
  position: relative;
  margin: 0 0 calc(30/750*100vw) 0;
  padding: 0 calc(15/750*100vw);
}
@media (min-width: 969px) {
  .solution .solution__content .solution__cont {
    width: 50%;
    margin: 0 0 30px;
    padding: 0 15px;
  }
}

.solution__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - (50/750*100vw));
  min-height: calc(210/750*100vw);
  margin: calc(-40/750*100vw) auto 0;
  background-color: #F3FAFD;
  text-align: center;
  box-shadow: 1px 3px 10px #888888;
  position: relative;
  color: red;
  z-index: 1;
}
@media (min-width: 969px) {
  .solution__text {
    width: calc(100% - 100px);
    min-height: 210px;
    margin: -40px auto 0;
  }
}
.solution__text h6 {
  margin-bottom: 12px;
}
.solution__text h6 a {
  font-size: 16px;
  text-decoration: none;
  color: #003C82;
}
.solution__text p {
  margin-bottom: calc(4/750*100vw);
  font-size: 12px;
  color: #333333;
}

.solution .head-solution {
  margin-left: 15px;
}
.solution .head-solution .text-head {
  font-size: 30px;
  margin-bottom: 6px;
  color: #003C82;
}
.solution .head-solution .solution_text {
  font-size: 16px;
  letter-spacing: 2px;
}
.solution .product__contents {
  margin: 32px 15px 80px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.solution .product__contents .product__cont {
  width: 540px;
  height: 360px;
  align-items: center;
  box-shadow: 6px 8px 10px #adadad;
}

.product-box {
  align-items: center;
}
.product-box .head-produc {
  margin-top: 65px;
}
.product-box .head-produc a {
  text-decoration: none;
  color: #003C82;
  font-size: 16px;
}
.product-box .head-produc.product-title {
  letter-spacing: 10px;
}
.product-box .product-img {
  margin: 40px 0;
}
.product-box p {
  font-size: 12px;
  color: #333333;
}

.solution {
  width: 100%;
}
.solution .head-solution {
  margin-left: 15px;
}
.solution .head-solution .text-head {
  font-size: 30px;
  margin-bottom: 6px;
  color: #003C82;
}
.solution .head-solution .solution_text {
  font-size: 16px;
  letter-spacing: 2px;
}
.solution .column__contents {
  margin: 32px 15px 80px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.solution .column__contents .column__cont {
  width: calc(100%);
  align-items: center;
  background-color: #F3FAFD;
  box-shadow: 6px 6px 6px #adadad;
  margin: 0 0 calc(30/750*100vw);
}
@media (min-width: 969px) {
  .solution .column__contents .column__cont {
    width: calc(33.3333% - 30px);
    margin: 0;
  }
}
.solution .column__contents .column__cont .thumbnail {
  min-height: 250px;
  overflow: hidden;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  margin-bottom: 30px;
}
.solution .column__contents .column__cont .column-img {
  min-height: 100%;
}
.solution .column-link {
  float: right;
  margin-right: 15px;
  margin-top: -50px;
  text-decoration: none;
  color: #14a0dc;
  font-size: 14px;
}

.column__text {
  width: 100%;
  margin: 0 0;
  padding: 0 15px 30px;
}
.column__text .link-number {
  display: flex;
  justify-content: start;
  align-items: center;
}
.column__text .link-number a {
  width: 110px;
  height: 20px;
  background-color: #14a0dc;
  padding: 4px 5px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
.column__text .link-number .number-colum {
  font-size: 10px;
  color: #4c4c4c;
}
.column__text .title-colum {
  font-size: 13px;
  margin: 12px 0 8px;
  color: #003C82;
  letter-spacing: 2px;
  text-align: start;
}
.column__text p {
  font-size: 12px;
  color: #4c4c4c;
  text-align: start;
  line-height: 2rem;
}

.advertisement {
  position: relative;
  width: 100%;
}
.advertisement .head-adver {
  margin-left: 15px;
  padding: calc(30/750*100vw) 0 0;
  position: absolute;
  content: '';
  top: 0;
}
@media (min-width: 969px) {
  .advertisement .head-adver {
    padding-top: 40px;
  }
}
.advertisement .head-adver h6 {
  font-size: 30px;
  color: #fff;
}
.advertisement .head-adver p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}

.profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  margin: -30px 0 0;
}
.profile .profile-boxs {
  width: calc(50% - 15px);
  position: relative;
  border: solid thin #ccc;
}
.profile .profile-boxs .profile-img {
  background-color: #f2f2f2;
  min-height: calc(230/750*100vw);
}
@media (min-width: 969px) {
  .profile .profile-boxs .profile-img {
    max-height: 360px;
  }
}
@media (min-width: 969px) {
  .profile .profile-boxs {
    margin: 0 0 30px;
    min-height: 360px;
  }
}
.profile .profile-boxs .text-profile {
  color: #003c82;
  font-size: 18px;
}
@media (min-width: 969px) {
  .profile .profile-boxs .text-profile {
    position: absolute;
    content: '';
    top: 40%;
    left: 50%;
    transform: translate(-50%, 40%);
  }
}
.profile .profile-boxs .text-profile.text-corpa {
  color: #fff;
}
.profile .profile-boxs .span-profile {
  border-left: solid 1px #009ce5;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 10px;
  color: #000;
}
.profile .profile-boxs .span-profile.span-corpa {
  color: #fff;
}
.profile .profile-boxs .img-profile-mini {
  width: calc(100/750*100vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile .profile-boxs .img-profile-mini.mw-160 {
  width: calc(160/750*100vw);
}
@media (min-width: 969px) {
  .profile .profile-boxs .img-profile-mini.mw-160 {
    width: auto;
  }
}
@media (min-width: 969px) {
  .profile .profile-boxs .img-profile-mini {
    width: auto;
    top: 90%;
    transform: translate(-50%, -90%);
  }
}

.footer {
  background-color: #ebebec;
  height: auto;
  padding-bottom: 40px;
  margin-top: 80px;
}
.footer .footer__cont {
  display: flex;
  justify-content: start;
}
.footer .footer__cont .footer__logo {
  width: 25%;
  margin-top: 60px;
}
.footer .footer__cont .footer__box {
  margin-top: 60px;
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.footer .footer__cont .footer__box .footer-item {
  list-style: none;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer .footer__cont .footer__box a {
  color: #333333;
  text-decoration: none;
}
.footer .text-ft {
  margin-top: 60px;
  font-size: 13px;
}
.footer .copyright {
  float: right;
  margin-top: -13px;
  font-size: 11px;
  color: #333333;
}
