* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: myriad-pro, sans-serif;
  line-height: 20px;
}

button, input {
  outline: none;
  border: none;
  border-radius: 3px;
}
button:focus, input:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

.header {
  width: 100%;
}
.header .header-sign {
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
  align-items: center;
}
.header .header-sign .sign-list {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  color: #626262;
  list-style: none;
  padding: 18px 0 0;
}
.header .header-banner {
  width: 100%;
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
  align-items: center;
}
.header .header-banner .header-logo {
  width: 20%;
}
.header .header-banner .header-seach {
  align-items: center;
  width: 50%;
  color: #b0b0b0;
  display: flex;
  justify-content: space-between;
  border: solid 2px #ebebeb;
  font-size: 14px;
}
.header .header-banner .header-seach img {
  padding: 10px;
  margin-left: 10px;
}
.header .header-banner .header-seach input {
  color: #b0b0b0;
  width: 80%;
}
.header .header-banner .header-seach button {
  padding: 10px 25px;
  margin: 6px;
  background-color: #fed700;
  color: #ffffff;
}
.header .header-banner .header-people {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.header .header-banner .header-people .icon-img {
  margin-bottom: -9px;
  padding-right: 5px;
}

.signin {
  color: #fed700;
}
.signin:hover {
  color: #fed700;
}

.sign-item {
  position: relative;
}
.sign-item .currency {
  position: absolute;
  background-color: #f6f6f6;
  text-align: center;
  width: 50%;
  content: '';
  bottom: -148;
  left: 60%;
  z-index: 10;
  display: none;
}
.sign-item .currency p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sign-item .currency p + p {
  border-top: solid 1px #b0b0b0;
}
.sign-item .dollars:hover .currency {
  display: block;
}

.header-nav {
  width: 100%;
  background-color: #fed700;
  align-items: center;
}
.header-nav .navbar-brand {
  margin-right: 30px;
  padding: 20px 130px 20px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.07);
}
.header-nav .navbar-brand .fa-bars {
  margin-right: 10px;
}
.header-nav .navbar {
  padding: 0;
  width: 100%;
}
.header-nav .navbar-expand-sm .navbar-nav {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.header-nav .navbar-expand-sm .navbar-nav .nav-link {
  padding: 18px 0;
  color: #000000;
}
.header-nav .navbar-expand-sm .navbar-nav .nav-item + .nav-item {
  padding-left: 45px;
}

.slide-show {
  width: 100%;
}
.slide-show .product-sale {
  margin: 30px 0;
  width: 100%;
  border: solid 1px #ebebeb;
  display: flex;
  justify-content: space-evenly;
}
.slide-show .product-sale .shops {
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slide-show .product-sale .shops + .shops {
  border-left: solid 1px #ebebeb;
}

.shops img {
  padding: 0 20px;
}
.shops .shops-content-sale {
  font-size: 14px;
  color: #b0b0b0;
}
.shops .shops-content-title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #353535;
}
.shops button {
  font-weight: bold;
  border: solid 2px #ef3636;
  font-size: 12px;
  background-color: #ffffff;
  padding: 5px 10px;
}

.slider-slick {
  width: 100%;
}

.slider {
  width: 100%;
  position: relative;
  color: #ffffff;
  display: flex;
  text-align: center;
}
.slider .slider-content {
  position: absolute;
  content: '';
  top: 50%;
  left: 70%;
  transform: translate(-50%, -70%);
}
.slider .slider-content .Ultimate {
  font-size: 18px;
  font-weight: bold;
}
.slider .slider-content .more {
  font-size: 24px;
  padding-bottom: 25px;
  font-weight: bold;
}
.slider .slider-content .more .more-sale {
  color: #fed700;
}
.slider .slider-content button {
  padding: 20px 35px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.slider .slider-content img {
  margin: 30px 0;
}

.service {
  width: 100;
  margin: 55px 0;
}

.slick-arrow {
  position: absolute;
  content: '';
  top: 50%;
  background-color: transparent;
}

.slick-prev {
  left: -60px;
  background-image: url(../img/prev.png);
  color: transparent;
  padding: 14px 4px;
  background-repeat: no-repeat;
}
.slick-prev:hover, .slick-prev:focus {
  background-image: url(../img/prev-hover.png);
}

.slick-next {
  right: -60px;
  background-image: url(../img/next.png);
  color: transparent;
  padding: 14px 13.5px;
  background-repeat: no-repeat;
}
.slick-next:hover, .slick-next:focus {
  background-image: url(../img/next-hover.png);
}

.service {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.service .secive-container {
  width: 25%;
  text-align: center;
  padding: 0 60px;
}
.service .secive-container h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 15px;
  margin: 0;
  color: #353535;
}
.service .secive-container p {
  font-size: 14px;
  color: #626262;
}
.service .secive-container + .secive-container {
  border-left: solid 1px #ebebeb;
}

.content {
  width: 100%;
  background-color: #f6f6f6;
  padding: 0 0 65px;
}

.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.featured .categorys {
  width: 24%;
  position: relative;
  font-size: 14px;
}
.featured .categorys .cate-amount, .featured .categorys .cate-product {
  position: absolute;
  width: 70%;
  content: "";
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured .categorys .cate-amount {
  font-weight: bold;
  bottom: 0;
  background-color: #ffffff;
  transform: translateX(-45%);
  padding: 20px 0;
}
.featured .categorys .cate-product {
  color: #ffffff;
  padding: 10px 0;
  background-color: #252525;
  bottom: -10%;
  transform: translate(-45%, 45%);
}
.featured .categorys .cate-product:hover {
  background-color: #fed700;
  color: #000000;
}

h2 {
  padding: 65px 0 35px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

.rating {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.rating-content {
  width: 20%;
  padding: 35px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rating-content:hover .rating-view {
  visibility: inherit;
}
.rating-content:hover .rating-share {
  visibility: inherit;
}
.rating-content:hover img {
  opacity: 0.2;
}
.rating-content .rating-view {
  visibility: hidden;
  position: absolute;
  content: '';
  color: #ffffff;
  font-size: 14px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.rating-content + .rating-content {
  border-left: solid 1px #ebebeb;
}
.rating-content .rating-img {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}
.rating-content .rating-share {
  visibility: hidden;
  display: flex;
  border: solid 1px #000000;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-description {
  padding: 20px 0 10px;
}
.rating-description.description-line .rating-title {
  padding-bottom: 25px;
}
.rating-description .rating-running {
  font-size: 12px;
  color: #b0b0b0;
  padding-top: 10px;
}
.rating-description .rating-title {
  font-size: 14px;
  padding: 5px 0;
  color: #000000;
  font-weight: bold;
}
.rating-description .raiting-price {
  padding-top: 10px;
  font-size: 16px;
  color: #fed700;
  font-weight: bold;
  padding-bottom: 15px;
}
.rating-description span {
  text-decoration: line-through;
  color: #000000;
  font-weight: normal;
  padding-left: 10px;
}

.fa-star {
  color: #ff9933;
}
.fa-star + .fa-star {
  padding-left: 3px;
}

.fa-star-o {
  color: #b0b0b0;
}

.rating-link {
  position: relative;
  align-items: center;
  font-size: 16px;
  display: flex;
  text-align: center;
  background-color: transparent;
  padding: 20px;
}
.rating-link i {
  position: absolute;
  color: #000000;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rating-link:hover {
  background-color: #000000;
}
.rating-link:hover i {
  color: #ffffff;
}

.rating-btn {
  position: absolute;
  content: '';
  top: 9%;
  left: 10%;
}
.rating-btn .btn-new, .rating-btn .btn-sale {
  padding: 0 10px;
  color: #ffffff;
}
.rating-btn .btn-new {
  margin-bottom: 5px;
  background-color: #111d36;
}
.rating-btn .btn-sale {
  background-color: #ef3636;
}

.products {
  width: 100%;
  margin-top: 65px;
}
.products .product-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.products .product-title .product-list {
  display: flex;
  padding-right: 25px;
  font-size: 14px;
  align-items: center;
  margin: 0;
}
.products .product-title .product-list .product-items {
  margin-right: 20px;
}
.products .product-title .product-list .product-items:first-child {
  list-style: none;
}
.products .product-title .product-list .product-items + .product-items {
  margin-left: 10px;
}
.products .product-title .product-list .product-link {
  color: #000000;
}
.products h3 {
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0;
}
.products .product-content {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.rating-content.product-img {
  width: 33.33%;
  padding: 30px 30px 25px;
}
.rating-content.boder-img {
  border-top: solid 1px #ebebeb;
}

.product-sellers {
  margin-top: 35px;
  width: 100%;
  background-color: #ffffff;
}
.product-sellers .sellers-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.product-sellers .sellers-content + .sellers-content {
  border-top: solid 1px #ebebeb;
}
.product-sellers .rating-description {
  padding: 0 0 0 15px;
}
.product-sellers .rating-description .raiting-price.sellers-price {
  padding: 0;
}
.product-sellers .rating-description .rating-title {
  font-weight: normal;
  padding: 10px 0;
}

.advertisement {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}
.advertisement .advertisement-content {
  align-items: center;
  width: 49%;
  background-image: linear-gradient(to right, #f63831, #f88459);
  display: flex;
  justify-content: space-between;
}
.advertisement .advertisement-content.right {
  background-image: linear-gradient(to right, #304a6a, #5080a8);
}

.advertisement-description {
  padding-left: 80px;
  width: 50%;
}
.advertisement-description .advertisement-sale {
  padding: 7px 15px;
  line-height: 12px;
  background-color: #fed700;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}
.advertisement-description .advertisement-sale.btn-bag {
  background-color: #fdffbe;
}
.advertisement-description .advertisement-title {
  font-size: 30px;
  margin: 10px 0;
  line-height: 40px;
  color: #ffffff;
}
.advertisement-description .advertisement-title span {
  font-weight: bold;
}
.advertisement-description .advertisement-price {
  font-size: 20px;
  color: #fed700;
  font-weight: bold;
}
.advertisement-description .advertisement-price.bag-price {
  color: #fdffbe;
}
.advertisement-description .advertisement-price span {
  text-decoration: line-through;
  color: #000000;
  padding-left: 10px;
}
.advertisement-description .advertisement-shops {
  padding: 15px;
  line-height: 14px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.img-bag {
  object-position: 50px 0;
}

.advertisement-img {
  width: 50%;
  padding-bottom: 30px;
  z-index: 1;
}
.advertisement-img .img-flyk {
  margin-top: -40px;
}
.advertisement-img .shadow-flyk {
  margin-left: -70px;
}

.latest {
  width: 100%;
  margin-top: 100px;
}
.latest .latest-title {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}
.latest .latest-title h2 {
  padding: 0 0 20px;
  margin: 0;
}
.latest .latest-title p {
  font-size: 14px;
  color: #b0b0b0;
}

.laster-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.laster-content .latest-cate {
  width: 31%;
  position: relative;
}
.laster-content .latest-cate p {
  width: 100%;
}
.laster-content .latest-cate .latest-introdu, .laster-content .latest-cate .latest-time {
  position: absolute;
  width: 85%;
  content: "";
  left: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.laster-content .latest-cate .latest-introdu {
  font-weight: bold;
  bottom: 0;
  background-color: #ffffff;
  transform: translateX(-45%);
  padding: 35px 30px;
}
.laster-content .latest-cate .latest-time {
  color: #ffffff;
  background-color: #252525;
  bottom: -10%;
  transform: translate(-45%, 10%);
  padding: 15px 0;
}
.laster-content .latest-cate .latest-time p {
  font-size: 12px;
  color: #ffffff;
}
.laster-content .latest-cate .latest-time span {
  color: #b0b0b0;
}
.laster-content .latest-cate .latest-Performance {
  font-size: 14px;
  color: #fed700;
  padding-bottom: 15px;
  font-weight: normal;
}
.laster-content .latest-cate .latest-nike {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.footer {
  width: 100%;
  padding-top: 80px;
}
.footer .footer-information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.footer h4 {
  margin: 0;
  padding: 0 0 30px;
  font-size: 14px;
  font-weight: bold;
  color: #353535;
  text-transform: uppercase;
}
.footer .information-content {
  width: 25%;
}
.footer .information-content.contact {
  border-left: solid 1px #ebebeb;
  padding-left: 70px;
  font-size: 14px;
  color: #626262;
}
.footer .information-item {
  list-style: none;
  font-size: 14px;
}
.footer .information-item + .information-item {
  padding-top: 10px;
}
.footer .information-item .information-link {
  color: #626262;
}

.footer-phone {
  padding-top: 35px;
  display: flex;
}
.footer-phone img {
  padding-right: 15px;
}

.footer-seach {
  width: 100%;
  font-size: 14px;
  color: #626262;
  border: solid 1px #ebebeb;
  margin-bottom: 35px;
  padding: 20px 80px;
}
.footer-seach .seach-content {
  display: flex;
  justify-content: space-between;
}
.footer-seach .mail-img {
  display: flex;
  width: 20%;
}
.footer-seach .mail-img p {
  padding-left: 15px;
  font-size: 16px;
  color: #363636;
  font-weight: bold;
  border-right: solid 1px #ebebeb;
  padding-right: 45px;
}
.footer-seach .mail-seach {
  width: 50%;
}
.footer-seach .subscribe {
  width: 30%;
}
.footer-seach .mail-seach {
  border: solid 2px #ebebeb;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.footer-seach .mail-seach input {
  width: 80%;
  padding: 5px;
}
.footer-seach .mail-seach button {
  width: 20%;
  color: #ffffff;
  background-color: #fed700;
  padding: 5px;
}

.footer-nav {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.footer-nav .footer-nav_list {
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.footer-nav .footer-nav-item {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-nav .footer-nav-item + .footer-nav-item {
  padding-left: 20px;
}
.footer-nav .footer-nav_link {
  color: #353535;
}
.footer-nav p {
  font-size: 14px;
  color: #b0b0b0;
}

.footer-copyright {
  width: 100%;
  padding: 35px 0;
  background-color: #252525;
}
.footer-copyright .copy-content {
  display: flex;
  justify-content: space-between;
  color: #b0b0b0;
  font-size: 14px;
}
.footer-copyright .copy-content span {
  color: #fed700;
}
.footer-copyright .copy-content .fa {
  color: #ffffff;
  font-size: 20px;
}
.footer-copyright .copy-content .fa + .fa {
  padding-left: 15px;
}
