* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: myriad-pro, sans-serif;
  line-height: 20px;
}

button, input {
  outline: none;
  border: none;
  border-radius: 3px;
}
button:focus, input:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

.header {
  width: 100%;
}
.header .header-sign {
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
  max-height: 50px;
  align-items: center;
}
.header .header-sign .sign-list {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  color: #626262;
  list-style: none;
  padding: 18px 0 0;
}
.header .header-banner {
  width: 100%;
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
  align-items: center;
}
.header .header-banner .header-seach {
  align-items: center;
  min-width: 630px;
  min-height: 45px;
  color: #b0b0b0;
  border: solid 2px #ebebeb;
  font-size: 14px;
}
.header .header-banner .header-seach img {
  padding: 10px;
  margin-left: 10px;
}
.header .header-banner .header-seach input {
  color: #b0b0b0;
  min-height: 33px;
  min-width: 450px;
  margin: 6px 10px 6px 0;
}
.header .header-banner .header-seach button {
  min-width: 95px;
  min-height: 33px;
  margin: 6px;
  background-color: #fed700;
  color: #ffffff;
}
.header .header-banner .header-people {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.header .header-banner .header-people img {
  padding-right: 20px;
}

.signin {
  color: #fed700;
}
.signin:hover {
  color: #fed700;
}

.header-nav {
  width: 100%;
  min-height: 60px;
  background-color: #fed700;
  align-items: center;
}
.header-nav .navbar-brand {
  margin-right: 30px;
  padding: 20px 0;
  min-width: 300px;
  font-weight: bold;
  background-color: #000000;
  opacity: 0.09;
}
.header-nav .navbar-brand .fa-bars {
  margin-right: 10px;
}
.header-nav .navbar {
  min-height: 60px;
  padding: 0;
  width: 100%;
}
.header-nav .navbar-expand-sm .navbar-nav {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.header-nav .navbar-expand-sm .navbar-nav .nav-link {
  padding: 18px 0;
  color: #000000;
}
.header-nav .navbar-expand-sm .navbar-nav .nav-item {
  height: 100%;
}
.header-nav .navbar-expand-sm .navbar-nav .nav-item + .nav-item {
  padding-left: 45px;
}

.slide-show {
  width: 100%;
}
.slide-show .product-sale {
  margin: 30px 0;
  width: 100%;
  min-height: 140px;
  border: solid 1px #ebebeb;
  display: flex;
  justify-content: space-evenly;
}
.slide-show .product-sale .shops {
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slide-show .product-sale .shops + .shops {
  border-left: solid 1px #ebebeb;
}

.shops img {
  padding: 0 20px;
}
.shops .shops-content-sale {
  font-size: 14px;
  color: #b0b0b0;
}
.shops .shops-content-title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #353535;
}
.shops button {
  min-width: 95px;
  font-weight: bold;
  min-height: 30px;
  border-radius: 3px;
  border: solid 2px #ef3636;
  font-size: 12px;
  background-color: #ffffff;
  padding: 5px 10px;
}

.slider-slick {
  width: 100%;
}

.slider {
  width: 100%;
  position: relative;
  color: #ffffff;
  display: flex;
  text-align: center;
}
.slider .slider-content {
  position: absolute;
  content: '';
  top: 50%;
  left: 70%;
  transform: translate(-50%, -70%);
}
.slider .slider-content .Ultimate {
  font-size: 18px;
}
.slider .slider-content .more {
  font-size: 24px;
  padding-bottom: 25px;
}
.slider .slider-content .more .more-sale {
  color: #fed700;
}
.slider .slider-content button {
  padding: 20px 35px;
  border-radius: 3px;
  background-color: #ffffff;
}
.slider .slider-content img {
  margin: 30px 0;
}

.service {
  width: 100;
  margin: 55px 0;
}

.slick-arrow {
  position: absolute;
  content: '';
  top: 50%;
}

.slick-prev {
  left: -60px;
  background-image: url(../img/prev.jpg);
  color: transparent;
  min-height: 48px;
  min-width: 48px;
  background-repeat: no-repeat;
}

.slick-next {
  right: -60px;
  background-image: url(../img/next.jpg);
  color: transparent;
  min-height: 48px;
  min-width: 48px;
  background-repeat: no-repeat;
}

.service {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.service .secive-container {
  width: 25%;
  text-align: center;
  padding: 0 60px;
}
.service .secive-container h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 15px;
  margin: 0;
  color: #353535;
}
.service .secive-container p {
  font-size: 14px;
  color: #626262;
}
.service .secive-container + .secive-container {
  border-left: solid 1px #ebebeb;
}

.content {
  width: 100%;
  background-color: #f6f6f6;
  padding: 0 0 65px;
}
.content .featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.content .featured .categorys {
  width: 24%;
  position: relative;
}
.content .featured .categorys::after {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 70%;
  min-height: 60px;
  background-color: #ffffff;
  content: "Gym & Fitness";
  bottom: 0;
  left: 45%;
  transform: translateX(-45%);
}
.content .featured .categorys::before {
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 70%;
  min-height: 40px;
  background-color: #252525;
  content: "Gym & Fitness";
  bottom: -10%;
  left: 45%;
  transform: translate(-45%, 45%);
}

h2 {
  padding: 65px 0 35px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

.rating {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.rating-content {
  width: 20%;
  padding: 35px 30px;
  position: relative;
}
.rating-content:hover::before {
  display: block;
}
.rating-content:hover .rating-share {
  visibility: inherit;
}
.rating-content:hover img {
  opacity: 0.2;
}
.rating-content::before {
  display: none;
  position: absolute;
  content: 'View Product';
  color: #ffffff;
  font-size: 14px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  background-color: #252525;
}
.rating-content + .rating-content {
  border-left: solid 1px #ebebeb;
}
.rating-content .rating-description {
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
}
.rating-content .rating-description .rating-running {
  font-size: 12px;
  color: #b0b0b0;
  padding-top: 10px;
}
.rating-content .rating-description .rating-title {
  font-size: 14px;
  padding: 5px 0;
  color: #000000;
  font-weight: bold;
}
.rating-content .rating-description .raiting-price {
  padding-top: 10px;
  font-size: 16px;
  color: #fed700;
  font-weight: bold;
  padding-bottom: 15px;
}
.rating-content .rating-description span {
  text-decoration: line-through;
  color: #000000;
  font-weight: normal;
  padding-left: 10px;
}
.rating-content .fa-star {
  color: #ff9933;
}
.rating-content .fa-star + .fa-star {
  padding-left: 3px;
}
.rating-content .rating-img {
  position: relative;
}
.rating-content .rating-share {
  visibility: hidden;
  display: flex;
  min-width: 150px;
  min-height: 50px;
  border: solid 1px #000000;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-link {
  position: relative;
  align-items: center;
  font-size: 16px;
  display: flex;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
  background-color: transparent;
}
.rating-link i {
  position: absolute;
  color: #000000;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rating-link:hover {
  background-color: #000000;
}
.rating-link:hover i {
  color: #ffffff;
}

.rating-btn {
  position: absolute;
  content: '';
  top: 9%;
  left: 10%;
}
.rating-btn .btn-new, .rating-btn .btn-sale {
  min-width: 45px;
  min-height: 20px;
  color: #ffffff;
  border-radius: 3px;
}
.rating-btn .btn-new {
  margin-bottom: 5px;
  background-color: #111d36;
}
.rating-btn .btn-sale {
  background-color: #ef3636;
}

.advertisement {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}
.advertisement .advertisement-content {
  align-items: center;
  width: 49%;
  min-height: 320px;
  background-image: linear-gradient(to right, #f63831, #f88459);
  display: flex;
  justify-content: space-between;
}
.advertisement .advertisement-content.right {
  background-image: linear-gradient(to right, #304a6a, #5080a8);
}

.advertisement-description {
  padding-left: 80px;
}
.advertisement-description .advertisement-sale {
  padding: 5px 15px;
  line-height: 12px;
  background-color: #fed700;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}
.advertisement-description .advertisement-sale.btn-bag {
  background-color: #fdffbe;
}
.advertisement-description .advertisement-title {
  font-size: 30px;
  margin: 10px 0;
  line-height: 40px;
  color: #ffffff;
}
.advertisement-description .advertisement-title span {
  font-weight: bold;
}
.advertisement-description .advertisement-price {
  font-size: 20px;
  color: #fed700;
  font-weight: bold;
}
.advertisement-description .advertisement-price.bag-price {
  color: #fdffbe;
}
.advertisement-description .advertisement-price span {
  text-decoration: line-through;
  color: #000000;
  padding-left: 10px;
}
.advertisement-description .advertisement-shops {
  padding: 15px;
  line-height: 14px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
