@mixin mq_min_969 {
    @media (min-width: 969px) {
        @content;
    }
}

$color_red: red;
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.grid {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}