.header {
    width: 100%;
    height: auto;
    .header__navigation {
        align-items: center;
        display: flex;
        width: 100%;
        height: 105px;
        justify-content: space-between;
        .header__logo {
            margin-left: 15px;
        }
    }
}

.header__nav {
    &.header__nav-top {
        display: none;
    }
    .nav__list {
        list-style: none;
        display: flex;
    }
    .nav__items {
        font-size: 15px;
        +.nav__items {
            margin-left: 45px;
        }
        &.active {
            a {
                color: #003C82;
                &:after {
                    opacity: 1;
                    top: calc(100% + 2px);
                    background-color: #003C82;
                }
            }
        }
    }
    a {
        color: #1B95D4;
        text-decoration: none;
        position: relative;
        &:hover {
            &:after {
                opacity: 1;
                top: calc(100% + 2px);
                background-color: #003C82;
            }
        }
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            top: calc(100% + 10px);
            left: 0;
            opacity: 0;
            transition: 0.2s ease-in;
        }
    }
}