.page-top {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        .nav-align {
            font-size: 30px;
            color: #14a0dc;
            margin-right: calc(40/750*100vw);
            @include mq_min_969 {
                display: none;
            }
        }
    }
}

.banner {
    width: 100%;
    height: auto;
    .slide {
        @include mq_min_969 {
            width: 100%;
        }
        .slide_image {
            position: relative;
            .slide-img {
                width: 100%;
            }
        }
        .slide-top {
            max-width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .header__nav {
        display: none;
        &.header__nav-center {
            @include mq_min_969 {
                display: block;
            }
            .nav__list {
                justify-content: center;
                margin-top: -46px;
                a {
                    color: #000;
                    &:hover {
                        opacity: 0.7;
                        &::after {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}