*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
body{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: myriad-pro, sans-serif;
    line-height: 20px;
}
button, input{
    outline: none;
    border: none;
    border-radius: 3px;
    &:focus{
        outline: none;
    }
}
a{
    &:hover{
        text-decoration: none;
    }
}
p{
    margin: 0;
}