.content{
    width: 100%;
    background-color: $color-content;
    padding: 0 0 65px;
}
.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .categorys{
        width: 24%;
        position: relative;
        font-size: 14px;
        .cate-amount, .cate-product{
            position: absolute;
            width: 70%;
            content: "";
            left: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cate-amount{
            font-weight: bold;
            bottom: 0;
            background-color: $color-bg-btn;
            transform: translateX(-45%);
            padding: 20px 0;
        }
        .cate-product{
            color: $color-bg-btn;
            padding: 10px 0;
            background-color: $color-btn-bottom;
            bottom: -10%;
            transform: translate(-45%, 45%); 
            &:hover{
                background-color: $color-link;
                color: $color-text;
            }
        }
    }
}
h2{
    padding: 65px 0 35px;
    font-size: 30px;
    color: $color-text;
    font-weight: bold;
}