.footer{
    width: 100%;
    .footer-information{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        flex-wrap: wrap;
    }
    h4{
        margin: 0;
        padding: 0 0 30px;
        font-size: 14px;
        font-weight: bold;
        color: $color-sale;
        text-transform: uppercase;
    }
    .information-content{
        width: 50%;
        margin-top: 80px;
        @include rp_max_991{
            width: 25%;
        }
        @include rp_min_992{
            width: 25%;
        }
        &.contact{
            font-size: 14px;
            color: $color-text-footer;
            @include rp_max_991{
                font-size: 14px;
            }
            @include rp_min_992{
                border-left: solid 1px $color-boder;
                padding-left: 50px;
                font-size: 14px;
            }
        }
    }
    .information-item{
        list-style: none;
        font-size: 14px;
        +.information-item{
            padding-top: 10px;
        }
        .information-link{
            color: $color-text-footer;
        }
    }
}
.footer-phone{
    padding-top: 35px;
    display: flex;
    img{
        padding-right: 15px;
    }
}
.footer-seach{
    width: 100%;
    font-size: 12px;
    color: $color-text-footer;
    @include bodered($color-boder, 1px);
    margin-bottom: 35px;
    padding: calc(15/768*100vw) calc(20/768*100vw);
    @include rp_min_992{
        padding: 20px 80px;
        font-size: 14px;
    }
    .seach-content{
        display: flex;
        justify-content: space-between;
    }
    .mail-img{
        display: flex;
        width: 20%;
        p{
            padding-left: 15px;
            font-size: 12px;
            color: #363636;
            font-weight: bold;
            align-items: center;
            @include rp_min_992{
                font-size: 16px;
                border-right: solid 1px $color-boder;
                padding-right: 45px;
            }
        }
    }
    .subscribe{
        width: 28%;
    }
    .mail-seach{
        width: 50%;
        @include bodered($color-boder, 2px);
        display: flex;
        justify-content: space-between;
        padding: 5px;
        input{
            width: 70%;
            
            @include rp_min_992{
                width: 80%;
                padding: 5px;
            }
        }
        button{
            width: 30%;
            color: $color-bg-btn;
            background-color: $color-link;
            
            @include rp_min_992{
                padding: 5px;
                width: 20%;
            }
        }
    }
}

.footer-nav{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    .footer-nav_list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        @include rp_max_991{
            font-size: 13px;
            flex-direction: row;
        }
        @include rp_min_992{
            font-size: 13px;
            flex-direction: row;
        }
    }
    .footer-nav-item{
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        +.footer-nav-item{
            padding-left: 0;
            padding-top: 10px;
            @include rp_max_991{
                padding-left: 20px;
                padding-top: 0;
            }
            @include rp_min_992{
                padding-left: 20px;
                padding-top: 0;
            }
        }
    }
    .footer-nav_link{
        color: $color-sale;
    }
    p{
        font-size: 14px;
        color: $color-text-seach;
    }
}

.footer-copyright{
    width: 100%;
    padding: 35px 0;
    background-color: $color-btn-bottom;
    .copy-content{
        display: flex;
        justify-content: space-between;
        color: $color-text-seach;
        
        span{
            color: $color-link;
        }
        p{
            font-size: 12px;
            width: 40%;
            @include rp_min_992{
                font-size: 14px;
            }
        }
        .footer-visa{
            width: 30%;
        }
        .footer-icon{
            width: 30%;
            text-align: center;
        }
        .fa{
            color: $color-bg-btn;
            font-size: calc(16/768*100vw);
            @include rp_min_992{
                font-size: 20px;
            }
            +.fa{
                padding-left: 15px;
            }
        }
    }
}