.header{
    width: 100%;
    .header-sign{
        width: 100%;
        border-bottom: solid 1px #e6e6e6;
        align-items: center;
        .sign-list{
            display: flex;
            font-size: 14px;
            align-items: center;
            justify-content: space-between;
            color: $color-text-footer;
            list-style: none;
            padding: 18px 0 0;
        }
    }
    .header-banner{
        width: 100%;
        display: flex;
        padding: 25px 0;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            width: 20%;
        }
        .header-seach{
            align-items: center;
            width: 50%;
            color: $color-text-seach;
            display: flex;
            justify-content: space-between;
            @include bodered($color-boder, 2px);
            font-size: 14px;
            img{
                padding: 10px;
                margin-left: 10px;
            }
            input{
                color: $color-text-seach;
                width: 80%;
            }
            button{
                padding: 10px 25px;
                margin: 6px;
                background-color: $color-link;
                color: $color-bg-btn;
            }
        }
        .header-people{
            font-size: 16px;
            color: $color-text;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            .icon-img{
                margin-bottom: -9px;
                padding-right: 5px;
            }
            
        }
    }
}
.signin{
    color: $color-link;
    &:hover{
        color: $color-link;
    }
}

.sign-item{
    position: relative;
    .currency{
        position: absolute;
        background-color: $color-content;
        text-align: center;
        width: 50%;
        content: '';
        bottom: -148;
        left: 60%;
        z-index: 10;
        display: none;
        p{
            padding-top: 5px;
            padding-bottom: 5px;
            +p{
                border-top: solid 1px $color-text-seach;
                
            }
        }
    }
    .dollars{
        &:hover{
            .currency{
                display: block;
            }
        }
    }
}