$color-text-footer: #626262;
$color-link: #fed700;
$color-text-seach: #b0b0b0;
$color-text: #000000;
$color-sale: #353535;
$color-bg-sale: #ef3636;
$color-bg-btn: #ffffff;
$color-btn-bottom: #252525;
$color-new: #111d36;
$color-star: #ff9933;
$color-content: #f6f6f6;
$color-boder: #ebebeb;


@mixin bodered($color, $width) {
    border: solid $width $color;
}
@mixin rp_max_991 {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin rp_min_992 {
    @media (min-width: 992px) {
        @content;
    }
}