.header-nav{
    width: 100%;
    background-color: $color-link;
    align-items: center;
    .navbar-brand{
        margin-right: 30px;
        padding: 20px 130px 20px 20px;
        font-size: 16px;
        font-weight: bold;
        color: $color-text;
        background-color: rgba(0, 0, 0, 0.07);
        .fa-bars{
            margin-right: 10px;
        }
    }
    .navbar{
        padding: 0;
        width: 100%;
    }
    .navbar-expand-sm{
        .navbar-nav {
            font-size: 16px;
            color: $color-text;
            font-weight: bold;
            .nav-link {
                padding: 18px 0;
                color: $color-text;
                
            }
            .nav-item{
                
                +.nav-item{
                    padding-left: 45px;
                }
            }
        }
    }
}