.rating{
    background-color: $color-bg-btn;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.rating-content{
    width: 20%;
    padding: 35px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover{
        .rating-view{
            visibility: inherit;
        }
        .rating-share{
            visibility: inherit;
        }
        img{
            opacity: 0.2;
        }
    }
    .rating-view{
        visibility: hidden;
        position: absolute;
        content: '';
        color: $color-bg-btn;
        font-size: 14px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-btn-bottom;
    }
    +.rating-content{
        border-left: solid 1px $color-boder;
    }
    .rating-img{
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .rating-share{
        visibility: hidden;
        display: flex;
        @include bodered($color-text, 1px);
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.rating-description{
    padding: 20px 0 10px;
    &.description-line{
        .rating-title{
            padding-bottom: 25px;
        }
    }
    .rating-running{
        font-size: 12px;
        color: $color-text-seach;
        padding-top: 10px;
    }
    .rating-title{
        font-size: 14px;
        padding: 5px 0;
        color: $color-text;
        font-weight: bold;
    }   
    .raiting-price{
        padding-top: 10px;
        font-size: 16px;
        color: $color-link;
        font-weight: bold;
        padding-bottom: 15px;
    }
    span{
        text-decoration: line-through;
        color: $color-text;
        font-weight: normal;
        padding-left: 10px;
    }
}
.fa-star{
    color: $color-star;
    +.fa-star{
        padding-left: 3px;
    }
}
.fa-star-o{
    color: $color-text-seach;
}
.rating-link{
    position: relative;
    align-items: center;
    font-size: 16px;
    display: flex;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    i{
        position: absolute;
        color: $color-text;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover{
        background-color: $color-text;
        i{
            color: $color-bg-btn;
        }
    }
}
.rating-btn{
    position: absolute;
    content: '';
    top: 9%;
    left: 10%;
    .btn-new, .btn-sale{
        padding: 0 10px;
        color: $color-bg-btn;
    }
    .btn-new{
        margin-bottom: 5px;
        background-color: $color-new;
    }
    .btn-sale{
        background-color: $color-bg-sale;
    }
}