.slide-show{
    width: 100%;
    .product-sale{
        margin: 30px 0;
        width: 100%;
        @include bodered($color-boder, 1px);
        display: flex;
        justify-content: space-evenly;
        .shops{
            width: 33.33%;
                @include rp_min_992{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                }
            +.shops{
                border-left: solid 1px $color-boder;
            }
        }
    }
}
.shops{
    text-align: center;
    @include rp_min_992{
        text-align: start;
    }
    img{
        padding: 0 10px;
        @include rp_max_991{
            padding: 0;
        }
    }
    .shops-content{
        width: 100%;
        padding: 10px;
        @include rp_min_992{
            width: 50%;
        }
    }
    .shops-content-sale{
        @include rp_min_992{
            font-size: 14px;
        }
        color: $color-text-seach;
        font-size: 12px;
    }
    .shops-content-title{
        margin: 10px 0;
        font-size: calc(14/768*100vw);
        font-weight: 600;
        color: $color-sale;
        @include rp_min_992{
            font-size: 18px;
        }
    }
    button{
        font-weight: bold;
        @include bodered($color-bg-sale, 2px);
        font-size: 12px;
        background-color: $color-bg-btn;
        padding: 5px 10px;
    }
}
.slider-slick{
    width: 100%;
    .slick-arrow{
        position: absolute;
        content: '';
        top: 50%;
        background-color: transparent;
        display: none;
        @include rp_min_992{
            display: block;
        }
    }
    .slick-prev{
        left: -60px;
        background-image: url(../img/prev.png);
        color: transparent;
        padding: 14px 4px;
        background-repeat: no-repeat;
        &:hover, &:focus{
            background-image: url(../img/prev-hover.png);
        }
    }
    .slick-next{
        right: -60px;
        background-image: url(../img/next.png);
        color: transparent;
        padding: 14px 13.5px;
        background-repeat: no-repeat;
        &:hover, &:focus{
            background-image: url(../img/next-hover.png);
        }
    }
}

.slider{
    width: 100%;
    position: relative;
    color: $color-bg-btn;
    display: flex;
    text-align: center;
    .slider-content{
        position: absolute;
        content: '';
        top: 60%;
        left: 70%;
        transform: translate(-60%, -70%);
        @include rp_min_992{
            top: 50%;
            left: 70%;
            transform: translate(-50%, -70%);
        }
        .Ultimate{
            font-size: calc(16/768*100vw);
            font-weight: bold;
            @include rp_min_992{
                font-size: 18px;
            }
        }
        .more{
            font-size: calc(22/768*100vw);
            padding-bottom: calc(20/768*100vw);
            font-weight: bold;
            @include rp_min_992{
                font-size: 24px;
                padding-bottom: 25px;
            }
            .more-sale{
                color: $color-link;
            }
        }
        button{
            padding: calc(15/768*100vw) calc(25/768*100vw);
            background-color: $color-bg-btn;
            font-size: 12px;
            font-weight: bold;
            @include rp_min_992{
                padding: 20px 35px;
                font-size: 14px;
            }
        }
        img{
            margin: calc(20/768*100vw) 0;
            @include rp_min_992{
                font-size: 24px;
                padding-bottom: 25px;
                margin: 30px 0;
            }
        }
    }
}
.service{
    width: 100;
    margin: 55px 0;
}


.service{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .secive-container{
        width: 25%;
        text-align: center;
        @include rp_min_992{
            padding: 0;
        }
        h3{
            font-size: 16px;
            font-weight: bold;
            padding: 20px 0 15px;
            margin: 0;
            color: $color-sale;
        }
        p{
            font-size: 14px;
            color: $color-text-footer;
        }
        +.secive-container{
            border-left: solid 1px $color-boder;
        }
    }
}