*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container-fluid, .col-lg-4{
    padding-left: 0;
    padding-right: 0;
}
p{
    margin: 0;
}
img {
    max-width: 100%;
    width: 100%;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
$corlor_bg-top: #f2f2f2;
$corlor_bg-menu: #2b2b2b;
$corlor_bg-bt: #2b2b2b;
$corlor_text: #2754eb;
$corlor_header: #666666;
$corlor_money: #e22828;
$corlor_content: #232326;



@mixin mq_min_767 {
    @media (min-width: 767px) and (max-width: 991px) {
        @content;
    }
}

@mixin mq_min_528 {
    @media (min-width: 528px) {
        @content;
    }
}