.footer{
    width: 100%;
    .footer-top{
        width: 100%;
        min-height: 200px;
        background-color: $corlor_bg-bt;
    }
    .footer-bottom{
        width: 100%;
        background-color: black;
        min-height: 30px;
        display: flex;
        font-size: 14px;
        align-items: center;
        color: #ccc;
        .webmau{
            color: #fff;
        }
    }
}
.footer-body{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    .footer-text{
        padding: 20px 0;
    }
    .footer-link{
        color: #fff;
        &:hover{
            color: #0066ff;
            text-decoration: none;
        }
    }
    
}
h6{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}

.footer-item{
    color: #ccc;
    font-size: 14px;
    .item-link{
        color: #ccc;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
    +.footer-item{
        padding-top: 10px;
    }
}