.header{
    width: 100%;
    .header-top{
        width: 100%;
        min-height: 35px;
        background-color: $corlor_bg-top;
        font-size: 16px;
        display: flex;
        align-items: center;
        .header-register{
            text-align: end;
        }
        a{
            color: #000;
            text-decoration: none;
            +a{
                padding-left: 40px;
            }
            &:hover{
                color: #0066ff;
            }
        }
        
    }
    .logo-img{
        width: 100%;
        padding: 15px 0;
            a{
                img{
                    max-width: 200px;
                }
                text-align: center;
                display: flex;
                justify-content: center;
            }
    }
    .header-nav{
        width: 100%;
        background-color: $corlor_bg-menu;
        padding: 20px 0;
        font-size: 18px;
        .container{
            padding: 0;
        }
    }
}
.dropdown-item{
    &:active{
        background-color: transparent;
    }
}
.navbar{
    padding: 0 15px;
}
.navbar-nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .nav-item{
        padding: 0;
        .nav-link{
            padding: 0;
            color: #fff;
            &:hover{
                color: #0066ff;
            }
            &:focus{
                color: #0066ff;
            }
        }
        +.nav-item{
            margin-left: 40px;
        }   
    }   
}
.dropdown-menu{
    font-size: 16px;
    margin: 10px 0 0;
    .dropdown-item{
        color: black;
        &:hover{
            color: #0066ff;
        }
        &:focus{
            color: #0066ff;
        }
    }
}
