.content-product{
    &.men-shoes-list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .shoes-product{
            width: 32%;
        }
    }
}
.slide-qc{
    margin-top: 20px;
    width: 100%;
    img{
        width: 100%;
        padding-bottom: 20px;
    }
}