.new-post{
    width: 100%;
    .container{
        padding: 0 5px;
    }
    h2{
        text-align: center;
        padding-bottom: 50px;
        color: #666666;
    }
    .new-bg{
        width: 100%;
        border-bottom: solid 1px #ccc;
        padding-bottom: 120px;
        .new-body{
            padding: 0 10px;
            h3{
                padding: 20px 0 10px;
                text-transform: uppercase;
                font-size: 13px;
            }
            p{
                font-size: 13px;
            }
            img{
                transition: filter 0.5s ease-out;
                &:hover{
                    
                        filter: blur(2px) brightness(30%);
                    
                }    
            }
            
        }
    }
}

.slide-icon{
    width: 100%;
    padding: 20px 0;
    .slide-icon-qc{
        width: 100%;
        display: flex;
        .img-slide{
            width: 20%;
            margin: 0 20px;
        }
    }
}