.section-register{
    width: 100%;
    margin: 20px 0;
    .title-register{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        &::before{
            position: absolute;
            width: 30%;
            height: 0.5px;
            content: "";
            top: 50%;
            left: 50%;
            background-color: #dddede;
            transform: translate(-50%, -50%);
            z-index: -99;
        }
        .register-icon{
            padding: 0 10px;
            font-size: 16px;
            font-weight: 500;
            background-color: #fff;
        }
        .fa-user-plus{
            font-size: 16px;
        }
    
    }
    .form-register{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        form{
            width: 30%;
            color: #212121;
            input{
                min-width: 350px;
                min-height: 30px;
                padding-left: 10px;
                border-radius: 5px;
                border: solid 1px #ccc;
            }
            button{
                background-color: #e0e1e2;
                border: none;
                min-width: 100px;
                min-height: 30px;
                border-radius: 5px;
                &:hover{
                    background-color: #CACBCD;
                }
            }
        }
        
    }
}
.home-register{
    width: 100%;
    min-height: 50px;
    background-color: #f4f1ea;
    margin: 20px 0;
    align-items: center;
    display: flex;
    padding-left: 20px;
    font-size: 16px;
    color: #b3b3b3;
    span{
        color: #4d4d4d;
    }
    .register-link{
        font-weight: 500;
    }
    .fa-home{
        font-size: 16px;
    }
}