.footer {
    background-color: #ebebec;
    height: auto;
    padding-bottom: 40px;
    margin-top: 80px;
    .footer__cont {
        display: flex;
        justify-content: start;
        .footer__logo {
            width: 25%;
            margin-top: 60px;
        }
        .footer__box {
            margin-top: 60px;
            width: 75%;
            display: flex;
            justify-content: space-around;
            .footer-item {
                list-style: none;
                margin-bottom: 20px;
                font-size: 14px;
            }
            a {
                color: #333333;
                text-decoration: none;
            }
        }
    }
    .text-ft {
        margin-top: 60px;
        font-size: 13px;
    }
    .copyright {
        float: right;
        margin-top: -13px;
        font-size: 11px;
        color: #333333;
    }
}