.news {
    width: 100%;
    margin-top: calc(50/750*100vw);
    margin-bottom: calc(60/750*100vw);
    position: relative;
    @include mq_min_969 {
        margin-top: 75px;
        margin-bottom: 64px;
    }
    .news__box {
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
        .text-head {
            font-size: 30px;
            margin-bottom: 30px;
            color: #003C82;
            font-weight: 200;
        }
    }
}

section {
    width: 100%;
    display: inline-block;
}

.text-news {
    font-size: 14px;
    padding: 10px 0;
    border-top: solid thin #ccc;
    &.text-form {
        border-bottom: solid thin #ccc;
        margin-bottom: 15px;
    }
    .span-text {
        font-size: 12px;
        min-width: 110px;
        text-align: center;
        display: inline-block;
        padding: 1px 5px;
        background-color: #14A0DC;
        color: #fff;
        margin-right: 10px;
    }
    .numbe-span {
        margin-right: 25px;
    }
}

.new_link {
    position: relative;
    float: right;
    font-size: 14px;
    color: #14A0DC;
    &::after {
        position: absolute;
        content: '';
        border: solid 5px transparent;
        border-left: solid 7px #009CE5;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}